extends layout

block content
  .container.is-fluid(ng-controller='TweetList')
    .columns
      .column.is-third
        .hero.is-left.is-large
          .hero-content
            h1.title.is-1.page-title= title
            p.subtitle.is-4.page-subtitle ... prepend with '#' for hashtag filters, '@' for user feeds, or just press enter for trending Tweets.
            form.page-form(ng-submit="getTweets()")
              input.input(type="text", placeholder="#CNNdebate, @TedTurnerIII, etc...", ng-model="searchTerm")
              button.button.is-primary(type="submit") Search
                i.fa.fa-twitter
      .columns.is-multiline.feed
        .column.is-third(ng-repeat="tweet in tweetsResult")
          article
            .media-left
              a(href="https://twitter.com/{{tweet.user.screen_name}}")
                img(src="{{tweet.user.profile_image_url_https}}")
            .media-content {{tweet.text}}
            .media-right
                p
                  strong
                    a(href="https://twitter.com/{{tweet.user.screen_name}}") {{tweet.user.name}}
                  small @{{tweet.user.screen_name}}
