doctype html
html(lang='en' ng-app='CNN-Twitter-app')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.15/css/bulma.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
      link(href='https://fonts.googleapis.com/css?family=Signika+Negative:400,600,700' rel='stylesheet' type='text/css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.min.js")
      script(src="/js/app.js")
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
