/* mixins */

$signika: 'Signika Negative', sans-serif;

/* styles */

* + * {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  background-color: #fff;
  font-family: $signika;
}

a {
  color: #00B7FF;
}

.input {
  padding-left: 15px;
  width: 65%;
  display: inline;
  animation: backgroundColor 5s linear infinite;
}

button, input {
  font-family: $signika;
}

button {
  margin-left: 10px;
}
.feed {
  width: 50%;
}
.media {
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px;
}
.hero-content {
  margin-right: 15%;
}
.page-title {
opacity: 0;
animation: fadeIn;
animation-duration: 1.5s;
animation-delay: 0.6s;
animation-fill-mode: forwards;
}

.page-subtitle {
  opacity: 0;
  animation: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

.page-form {
  opacity: 0;
  animation: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

/* animations */

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes backgroundColor {
  0% {background-color: #d4feff}
  50% {background-color: #fff}
  100% {background-color: #d4feff}
}
